<nav class="navbar">
  <h5 class="nav-title">Chandan BSD's Essential Dev Tools</h5>
  <button mat-flat-button>
    <a href="https://www.chandanbsd.com" target="_blank">
      Personal Website
    </a>
  </button>
</nav>

<div class="guid-generator-body">
  <mat-card class="quick-guid-generator">
    <mat-card-header>Quick Guid Generator</mat-card-header>
    <mat-card-content>
      <button
        mat-flat-button
        (click)="generateGuid()">
        Generate UUID
      </button>
      <code class="quick-guid-generator__display">
        {{simpleGuid ?? 'Click on Generate'}}
      </code>
      <button
        *ngIf="simpleGuid"
        mat-fab
        extended
        (click)="copySimpleGuidToClipboard()">
        <mat-icon>content_copy</mat-icon>
        Copy
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="quick-guid-generator">
    <mat-card-header>Multiple Guid Generator</mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Number of values required:</mat-label>
        <input matInput type="number" [formControl]="guidCountFormControl"/>
      </mat-form-field>
      <button
        mat-flat-button
        (click)="generateGuidList()">Generate UUID List</button>
      {{guidList.length === 0 ? 'Click on Generate' : ''}}
      <ol>
        <li *ngFor="let guid of guidList">
          <code class="quick-guid-generator__display">
            {{guid}}
          </code>
        </li>
      </ol>
      <button
        *ngIf="guidList.length > 0"
        mat-fab extended
        (click)="copyGuidListToClipboard()">
        <mat-icon>content_copy</mat-icon>
        Copy List
      </button>
    </mat-card-content>
  </mat-card>
</div>
